html {
	overflow-x: hidden;
	padding: 0 !important;
	/*background: #fff;*/
	margin: 0px !important;
}
.bg-img {
	/*background: url(../images/login-bg.jpg) no-repeat;*/
	height: 940px;
	max-height:940px;
	width: 100%;
}
@media screen and (min-width:640px) and (max-width:1024px) {
	.bg-img {
		height: 560px;
		max-height:560px;
	}
}
@media screen and (min-width:1024px) and (max-width:1360px) {
	.bg-img{
		height: 700px;
		max-height:700px;
	}
}
@media screen and (min-width:1360px) and (max-width:1680px) {
	.bg-img{
		height: 860px;
		max-height:860px;
	}
}
@media screen and (min-width:1680px) and (max-width:1920px) {
	.bg-img{
		height: 940px;
		max-height:940px;
	}
}
.img-bg{
	width: 100%;
	position: absolute;
	max-height: 940px;
}
@media screen and (min-width:640px) and (max-width:1024px) {
	.img-bg {
		max-height: 560px;
	}
}
@media screen and (min-width:1024px) and (max-width:1360px) {
	.img-bg{
		max-height: 700px;
	}
}
@media screen and (min-width:1360px) and (max-width:1680px) {
	.img-bg{
		max-height: 860px;
	}
}
@media screen and (min-width:1680px) and (max-width:1920px) {
	.img-bg{
		max-height: 940px;
	}
}
.fullwidthbanner-container {
	width: 100% !important;
	position: relative;
	padding: 0;
	overflow: hidden;
	background: #fff;
}
.revolution-slider {
	max-height: 940px !important;
	display: block;
	position: relative;
}
@media screen and (min-width:640px) and (max-width:1024px) {
	.revolution-slider {
		max-height: 560px;
	}
}
@media screen and (min-width:1024px) and (max-width:1360px) {
	.revolution-slider{
		max-height: 700px;
	}
}
@media screen and (min-width:1360px) and (max-width:1680px) {
	.revolution-slider{
		max-height: 860px;
	}
}
@media screen and (min-width:1680px) and (max-width:1920px) {
	.revolution-slider{
		max-height: 940px;
	}
}
.med-white {    /*med size*/
	color: #fff;
	font-size: 18px !important;
	text-shadow: #333 0px 3px 8px;
}
.very-big-white {    /*big1 size*/
	font-size: 42px !important;
	line-height:70px;
	color: #fff;
	text-shadow: #333 0px 3px 8px;
	text-align: left;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: absolute;
	visibility: hidden;
}
.tp-simpleresponsive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tp-simpleresponsive >ul >li {
	list-stye: none;
	position: absolute;
	visibility: hidden;
}

.sfb{
	left: 20%;
	top: 120px;
	position: absolute;
}

.lfl{
	left: 20%;
	top: 465px;
	position: absolute;
}

.lfr{
	left: 20%;
	top: 500px;
	position: absolute;
}